# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
composer.lock
vendor/

# Local audit / planning notes (not part of the library)
.audit/
rector-report.txt
rector.php
